/* Main CSS file for DIY-Portfolio */
/* A good resource to check out is CSS-Tricks.com if you have any questions about anything CSS related.
   Also, just Googling the CSS property will bring back results on how to use it, for example if you google 'CSS margin',
   a whole list of sites will pop up that tell you how to use the margin property.
*/

/* Available fonts:

font-family: 'Arbutus Slab', serif;
font-family: 'Emblema One', cursive;
font-family: 'Carrois Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Autour One', cursive;

*/

html {
	margin: 0;
	padding: 0;

}

body {

	font-family: 'Arbutus Slab', serif;
	text-decoration: none;
	margin: 0;
	padding: 0;

}

/* h1 is the property for a header.  You can define h1 through h6 for different headers, but for this site I only use h1 */
h1 {
	font-family: 'Emblema One', cursive;
	font-size: 86px;
	color: #ccffcc;
	text-align: center;
	//text-decoration: underline;
	margin: 0;
	padding: 2px;
	text-shadow: 1px 1px 2px #D42A1E;
}


/* p is the property for paragraphs. */
p {

	font-family: 'Arbutus Slab', serif;
	font-size: 20px;
	text-align: center;
	color: #000;

	margin: 0;
	padding: 8px;
}

/* a is the property for links.  The properties for a:link, a:visited, a:hover, and a:active are for different states, 
   for example hover is when you place your cursor over the link.
*/

a {
	text-decoration: none;
	text-align: center;
}

a:link { color: #2E2A3B; }
a:visited { color: #2E2A3B; }
a:hover { color: #ffffdd; }
a:active {}

/* Drop shadow is a class that I apply to various divs______________________________________________________________*/
.drop_shadow {
	-moz-box-shadow: 0px 10px 24px -12px #993366;
	-webkit-box-shadow: 0px 10px 24px -12px #993366;
	box-shadow: 0px 10px 24px -12px #993366;	
}

/* IDs and site specific class definitions____________________________________________________________________________________________________ */

/* The site container is a DIV that holds all the info for the site.  If you shift this div using, for example, with 'margin-left: 100px' then
   you will shift the contents of the entire site 100 pixels from the left hand side. */
#site_container {
	width: 100%;

	margin: 0px;
	padding: 0;
}


/* my_picture is a class that holds your bio pic on the main site */
.my_picture {
	
	width: 100%;
	text-align: center;
	padding: 10px;

}

/* The project class holds property values that are true for each and every project on the site. */
.project {

	margin: 0;
	padding: 0;

	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	height: 1000px;

}

/* The divider_bar class is a white bar that appears at the top of each project.  You can change the background color to #000 to make it black
   instead of white, or change the height to 100px (or more) to make it fatter. */
.divider_bar {

	height: 60px;
	background-color: #fff;
}

/* The info class is where all the info for your project is written.  These properties are true for the information boxes for all your projects.
   Changing the background-color to '#ccc', for example, will make all your info boxes gray instead of light blue. */
.info {

	padding: 30px;
	background-color: #addbff;

	/* The code below makes the info class 75% opaque. You have to define the various properties for browser compatibility  */
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	-khtml-opacity .75;
	opacity: .75;

}

/* The footer ID is for the footer that appears at the very bottom of the page. */
#footer {
	width: 100%;
	background-color: #addbff;
	height: 50px;
	padding: 10px;
	cursor: pointer;
}


/* THIS IS WHERE YOU CAN CHANGE THE IMAGES: */

/* The photos I use are all 1600x800 pixels.  The site automatically scales images to be as big as possible and still fit within the frame. */

/* The project IDs below are defined to hold the background images for each of your projects.  Feel free to add more or delete some as needed. 
   If you add more, don't forget to place the actual image in the images directory. */

#project1 {
	background-image: url("images/portfolio_bg_1.jpg");
}

#project2 {
	background-image: url("images/portfolio_bg_2.jpg");
}

#project3 {
	background-image: url("images/portfolio_bg_3.jpg");
}

#project4 {
	background-image: url("images/portfolio_bg_4.jpg");
}

#project5 {
	background-image: url("images/portfolio_bg_5.jpg");
}

#project6 {
	background-image: url("images/portfolio_bg_6.jpg");
}

#project7 {
	background-image: url("images/portfolio_bg_7.jpg");
}

